<div id="<%= dom_id information %>">
  <p>
    <strong>Lesson name:</strong>
    <%= information.lesson_name %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= information.creator %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= information.description %>
  </p>

  <p>
    <strong>Helpful links:</strong>
    <%= information.helpful_links %>
  </p>

</div>
