<%= form_with(model: tip) do |form| %>
  <% if tip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
        <% tip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :lesson_name, style: "display: block" %>
    <%= form.text_field :lesson_name, class:"form-control", placeholder:"Lesson Name" %>
  </div>

  <div class="mb-3">
    <%= form.label :creator, style: "display: block",class:"form-label" %>
    <%= form.text_field :creator, class:"form-control",placeholder:"Your Name" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class:"form-label"%>
    <%= form.text_area :description,style:"width 500px;  height:300px", class:"form-control", placeholder:"Lesson Content" %>
  </div>

  <div class="mb-3">
    <%= form.label :helpful_links, style: "display: block", class:"form-label" %>
    <%= form.text_field :helpful_links, class:"form-control", placeholder:"Helpful Links" %>
  </div>
  <button class="btn btn-primary">

  <div>
    <%= form.submit %>
  </div>
      </button>

<% end %>